[Unit]
Description=Sleep mode gesture daemon
Requires=lipstick.service
After=user-session.target lipstick.service

[Service]
ExecStart=/usr/bin/gestured

[Install]
WantedBy=post-user-session.target
