[Unit]
Description=Gesture daemon
After=user-session.target

[Service]
ExecStart=/usr/bin/gestured

[Install]
WantedBy=post-user-session.target
